{% assign lang = page.lang %}
<div class="section-title">
  <h1>{% if lang == "pl" %}
    Co robimy {% else %} 
    What we do {% endif %}</h1>
</div>
<div class="paragraph">
    <div class="container">
        <div class="row">
            <div class="column">
                <div class="category">
                    <div class="thumb-icon">
                        <i class="fa-solid fa-rainbow"></i>
                    </div>
                    <div class="category-content">
                        {% if lang == "pl" %}
    aktywizm {% else %} 
    activism {% endif %}
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="category">
                    <a href="/support">
                        <div class="thumb-icon">
                            <i class="fa-solid fa-hand-holding-heart"></i>
                        </div>
                        <div class="category-content">
                            {% if lang == "pl" %}
    wsparcie {% else %} 
    support {% endif %}
                        </div>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="category">
                    <div class="thumb-icon">
                        <i class="fa-solid fa-seedling"></i>
                    </div>
                    <div class="category-content">
                        {% if lang == "pl" %}
    edukacja {% else %} 
    education {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>