{% assign lang = page.lang %}
<div class="section-title">
  <h1>{% if lang == "pl" %}
    Wesprzyj nas {% else %} 
    Donate {% endif %}</h1>
</div>
<div class="paragraph">
    <div class="container">
        {% if lang == "pl" %}
        <p>{{site.data.home.pl.donate.text}}</p>
        {% else %}
        <p>{{site.data.home.en.donate.text}}</p>
        {% endif %}
        <div class="row">
            <div class="column">
                <div class="category">
                    <a href="{{site.data.home.pl.donate.url}}" target="_blank">
                        <div class="thumb-icon">
                            <i class="fa-solid fa-piggy-bank"></i>
                        </div>
                        <div class="category-content">
                            {% if lang == "pl" %}
    Przekaż darowiznę {% else %} 
    Donate {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
