<div class="parallax">
    <div class="parallax-content">

        {%- assign lang = page.lang -%}
        {%- if lang == "pl" -%}
        <span class="slogan-item">To&nbsp;z&nbsp;fabryk</span>
        <span class="slogan-item">wychodzą</span>
        <span class="slogan-item bold">rewolucje!</span>
        {%- else -%}
        <span class="slogan-item">Revolutions</span>
        <span class="slogan-item">start</span>
        <span class="slogan-item bold">in&nbsp;factories!</span>
        {%- endif -%}
        <div class="copyright">&copy; Aleksander Brylski, 2022 </div>

    </div>

</div>