<div class="parallax">
    <div class="parallax-content">


        <img id="rotatingImage" src="/assets/img/Sygnet_kolor.png" alt="Rotating Image" class="rotating-image">
        <div class="text-effect effect">
            <div class="overlay"></div>
            <p>
                {%- assign lang = page.lang -%}
                {%- if lang == "pl" -%}
                <span>To&nbsp;z&nbsp;fabryk</span>
                <span>wychodzą</span>
                <span>rewolucje!</span>
                {%- else -%}
                <span>Revolutions</span>
                <span>start</span>
                <span>in&nbsp;factories!</span>
                {%- endif -%}
            </p>
        </div>

        <div class="copyright">Fot. Aleksander Brylski, 2022 </div>

    </div>

</div>