<div class="parallax">
    <div class="parallax-content">

        {%- assign lang = page.lang -%}
        {%- if lang == "pl" -%}
        <p>
        <span">To&nbsp;z&nbsp;fabryk</span>
        <span">wychodzą</span>
        <span">rewolucje!</span>
        {%- else -%}
        <span>Revolutions</span>
        <span>start</span>
        <span>in&nbsp;factories!</span>
        {%- endif -%}
    </p>
        <div class="copyright">&copy; Aleksander Brylski, 2022 </div>

    </div>

</div>