<div class="paragraph">
    <div class="container horizontal">
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2468.8154294699502!2d19.454570777577292!3d51.77298129126583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471bcba2e0685ba3%3A0xcabf7d1d9e9428cf!2sStowarzyszenie%20Fabryka%20R%C3%B3wno%C5%9Bci!5e0!3m2!1sen!2spl!4v1706867400962!5m2!1sen!2spl"
                width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="row">
            <div class="column contact">
                {% assign profile = site.data.profile.organisation %}
                {% assign lang = page.lang %}
                {% if lang == "pl" %}
                <p><strong>{{profile.name.pl}}</strong></p> {% else %}
                <p><strong>{{profile.name.en}}</strong></p> {% endif %}

                <div class="category">
                    <div class="address">
                        <div class="box">
                            {% if lang == "pl" %}
                            {{profile.address.pl}} {% else %}
                            {{profile.address.en}} {% endif %}
                        </div>
                    </div>
                </div>

                <div class="category">
                    <div class="tel">
                        {% assign tel = profile.tel %}
                        {% assign locale = "+" | append: tel | slice: 0, 3 % | append: " " %}
                        {% assign #1 = tel | slice: 2, 3 | append: " " %}
                        {% assign #2 = tel | slice: 5, 3 | append: " " %}
                        {% assign #3 = tel | slice: 8, 3 | append: " " %}
                        {% assign formattedTel = locale | append: #1 | append: #2 | append: #3 %}
                        <a href="tel:{{ formattedTel }}">{{ formattedTel }}</a>
                    </div>
                </div>

                <div class="category">
                    <div class="email">
                        <a href="mailto:{{ profile.email }}">{{ profile.email }}</a>
                    </div>
                </div>

                <div class="category">
                    <div class="info">
                        <div class="box">
                            {% if lang == "pl" %}
                            NIP: {{profile.tax_no}}<br>
                            KRS: {{profile.rej_no}}
                            {% else %}
                            Tax No: {{profile.tax_no}}<br>
                            Registration No: {{profile.rej_no}}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="category">
                    <div class="bank">
                        <div class="box">
{% assign bank = site.data.profile.bank %}
<p><strong>{% if lang == "pl" %}
Konto bankowe organizacji:
{% else %}
Organisation's bank account:
{% endif %}</strong></p>
{{bank.name}} <br>
IBAN: {{bank.iban}} <br>
SWIFT: {{bank.swift}}i

 
       
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>