<div class="navbar-wrapper">
  <div class="navbar" role="navigation">

    <img class="navbar-logo" alt="Logo"></img>

    <nav class="menu">
      <input type="checkbox" id="menu-trigger" class="menu-trigger" />
      <label for="menu-trigger">
        <span class="menu-icon">
          <i class="fa-solid fa-bars"></i>
        </span>
      </label>

      <a id="mode">
        <div class="mode-sunny"><i class="fa-regular fa-sun"></i></div>
        <div class="mode-moon"><i class="fa-solid fa-moon"></i></div>
      </a>

      <input type="checkbox" id="dropdown-trigger" class="dropdown-trigger" />
      <label for="dropdown-trigger">
        <div class="dropdown" id="dropdown-icon">
          <div class="lang-dropdown">
            {% assign current_lang = page.lang | default: "pl" %}
            {% if current_lang == "pl" %}
            <a href="{{ page.url }}">Polski</a>
            <a href="{{ site.baseurl }}/en{{ page.url }}">English</a>
            {% else %}
            <a href="{{ page.url | remove_first: '/en' }}">Polski</a>
            <a href="{{ page.url }}">English</a>
            {% endif %}
          </div>
        </div>
      </label>

      <div class="trigger">
        <div class="trigger-container">
          {%- assign url = page.url -%}
          {%- assign menus = site.data.menus -%}
          {%- assign lang = page.lang -%}
          {%- if menus %}
          {%- for menu in menus -%}
          {%- if lang == menu.lang -%}
          {%- if url == menu.url -%}
          <a class="menu-link active" href="{{ menu.url }}">{{ menu.title }}</a>
          {%- else -%}
          {%- if menu.external -%}
          <a class="menu-link" href="{{ menu.url }}" target="_blank" rel="noopener">{{ menu.title }}</a>
          {%- else -%}
          <a class="menu-link" href="{{ menu.url }}">{{ menu.title }}</a>
          {%- endif -%}
          {%- endif -%}
          {%- endif -%}
          {%- endfor -%}
          {%- else -%}
          {%- endif -%}
        </div>
      </div>
    </nav>
  </div>
</div>