<html>
{% assign lang = page.lang %}
<div class="paragraph">
    <div class="container">
        <div class="row">
            {%- assign groups = site.data.support -%}
            {%- for group in groups -%}
            {%- if group.visibility -%}
            <div class="column">
                <button class="category support" data-group="{{group.path.en}}">
                    <div class="thumb-icon">
                        <i class="{{ group.icon }}"></i>
                    </div>
                    <div class="category-content">
                        {% if lang == "pl" %}
                        <h2>{{ group.name.pl }}</h2>
                        <hr>
                        <h3>{{ group.description.pl }}</h3>
                        <div class="support-notification">
                            {%- unless group.open -%}
                            <i class="fa-regular fa-rectangle-xmark"></i> przyjęcia obecnie są zamknięte
                            {%- endunless -%}
                        </div>
                        {% else %}
                        <h2>{{ group.name.en }}</h2>
                        <hr>
                        <h3>{{ group.description.en }}</h3>
                        <div class="support-notification">
                            {%- unless group.open -%}
                            <i class="fa-regular fa-rectangle-xmark"></i> admissions are currently closed
                            {%- endunless -%}
                        </div>
                        {% endif %}
                    </div>
                </button>
            </div>
            {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
</div>
<div class="paragraph">

    {% for group in groups %}
    {% if group.visibility %}
    <div class="category-content description" data-group="{{ group.path.en }}">
        {% capture markdown_content %}
        {% if lang == "pl" %}
        {% if group.path.pl %}
        {% include_relative {{group.path.pl}} %}
        {% endif %}
        {% else %}
        {% if group.path.en %}
        {% include_relative {{group.path.en}} %}
        {% endif %}
        {% endif %}
        {% endcapture %}
        {{ markdown_content | markdownify }}
    </div>
    {% endif %}
    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Add a click event handler to the button
        $('.category.support').on('click', function () {
            // Remove 'active' class from all category content descriptions
            $('.category-content.description').removeClass('active');

            // Get the data-group attribute value
            var group = $(this).data('group');

            // Add 'active' class to the corresponding category content description
            $('.category-content.description[data-group="' + group + '"]').addClass('active');
        });
    });
</script>

</html>