footer {
  width:100%;
  background-color: $purple;
  border-top: 1px solid $dark-light;

  bottom: 0;
}

.footer-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 60%;
  margin-left: 25%;
  margin-right: 25%;
}

.footer-left {
  align-items: center;
  flex-grow: 1;
}

.footer-left img {
  max-width: 250px;
  height: auto;
  align-items: center;
}

.social-icons {
  display: flex;
}

.social-icons i{
  margin: 10px;
  /* Adjust the spacing between icons */
  color: $light;
  font-size: 25px;
}
.social-icons a{
text-decoration-line: none;
}

.footer-right {
  flex-grow: 1;
  /* Allow the right column to grow and take available space */

}

.vertical-menu {
  text-align: center;
  /* Align menu items to the right */
}

.menu-link {
  color: $light;
  line-height: $base-line-height + 0.4;
  text-decoration: none;
  padding: 5px 8px;
  opacity: 0.7;
  letter-spacing: 0.3px;

  &:hover {
    opacity: 1;
    transition: 0.2s;
  }
  &:before{
    content: ".";
  }

  &:not(:last-child) {
    margin-right: 5px;
  }

}

.footer-bottom {
  width: 100%;
  margin-top: auto;
  text-align: center;
  color: $light;
}