////////// ---- ABOUT ----- /////////

.container.tiles {
  display: flex;
  justify-content: left
}

.tile {
  margin: 8px;
  padding: 10px;
  border-radius: 8px;
  font-weight: $bold-weight;
  opacity: 0.7;

  &:before {
    content: "\23";
    font-family: FontAwesome;
    margin-right: 5px;
  }

  &:hover {
    opacity: 1;
  }
}

.team {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.6s;
  transform-style: preserve-3d;
  align-items: center;
}

.team:hover {
  transform: rotateY(180deg);
}

.team .team-img {
  position: relative;
  font-size: 0;
  text-align: center;
  margin-bottom: 30px;
}

.team .team-img img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.team .team-content {
  text-align: center;
  align-items: center;
}

.team .team-content h2 {
  font-size: 100%;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.team .team-content h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

.team .team-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: justify;
  flex-direction: column;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: $white;
  border-radius: 5px;
  transform: rotateY(180deg);
}

.team .team-overlay p {
  font-size: $medium-font-size;
  text-align: justify;
}

.tab-btn {
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  background: transparent;
  border-radius: 30px;
  border: 3px solid $text-link-active;
  font-family: $font-family;
  color: $text-link-active;
  font-weight: $bold-weight;
}

.tab-btn.active {
  color: $white;
  border: 0;
  background: $text-link-active;
  transition: all 0.3s ease;
}

.column.card {
  display: none;
  opacity: 0;
}

/* Show only columns with the selected group */
.column.card.active {
  display: block;
  opacity: 1;
}

.tabs-navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

////////// ---- WHAT WE DO ----- /////////

.category {
  padding: 20px;
  border-radius: 5px;
  align-items: center;
  opacity: 0.7;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    opacity: 1;

  }
}

.category .category-content,
.category .thumb-icon {
  text-align: center;
  align-items: center;
  color: $light
}

.thumb-icon {
  font-size: 27px;
  padding-bottom: 10px;
  color: $light
}

////////// ---- DONATE ----- /////////

.donate-button {
  padding: 20px;
  margin-bottom: 30px;
  border: 0;
  background: transparent;
  border-radius: 5px;
  align-items: center;
  opacity: 0.7;
  text-transform: capitalize;
  font-family: $font-family;
  font-size: $large-font-size;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    opacity: 1;

  }

  a {
    color: $dark-text-base-color;
  }
}

.container.donate {
  text-align: center;
  align-items: center;
  color: $light
}

.category-content h3 {
  font-size: $medium-font-size;
  font-weight: $normal-weight;
}

.category.support {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-height: 250px;
  cursor: pointer;
  background: transparent;
  border: 0;
  font-family: $font-family;
}

.category-content.description {
  display: none;

}

.category-content.description.active {
  display: block;
}

.support-notification {
  position: absolute;
  color: $red;
  font-size: $medium-font-size;
}