// Navbar
.navbar {
  height: 70px;
  position: relative;
  border-bottom: 1px solid $light;
  background: $purple;
  display: flex;
  justify-content: center;

}

// Navigation
.menu {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  max-width: calc(#{$wide-size} - (#{$spacing-full} * 2));
  max-width: -webkit-calc(#{$wide-size} - (#{$spacing-full} * 2));
  position: relative;
  align-items: center;
  justify-content: space-between;
  display: flex;


  .logo {
    float: left;


    img {
      max-width: 130px;
      max-height: auto;
    }

  }

  .trigger {
    float: right;
  }

  .menu-trigger {
    display: none;
  }

  .dropdown-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .full-screen-overlay {
    display: none;
  }

  .menu-link {
    color: $light;
    line-height: $base-line-height + 0.4;
    text-decoration: none;
    padding: 5px 8px;
    opacity: 0.7;
    letter-spacing: 0.3px;

    &:hover {
      opacity: 1;
      transition: 0.2s;
    }

    &:before {
      content: ".";
    }

    &:first-child {
      margin-left: 100px;
    }

    &:last-child {
      margin-right: 100px;
    }

  }

  .menu-link.active {
    color: $white;
    opacity: 1;
    font-weight: 600;
  }

  a#mode {
    position: relative;
    opacity: 0.7;
    color: $light;
    font-size: 20px;
    padding: 10px;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &:active {
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
    }
  }

  .dropdown {
    position: relative;
    padding: 10px;
    color: $light;
    opacity: 0.7;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  .dropdown i {
    font-size: $base-font-size;
  }

  .lang-dropdown {
    display: none;
    position: absolute;
    background-color: $white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
    border-radius: 8px
  }

  .lang-dropdown a {
    color: $text-base-color;
    padding: 8px;
    text-decoration: none;
    display: block;
  }

  .lang-dropdown a:hover {
    background-color: $dark-white;
    border-radius: 8px
  }

  .dropdown:hover .lang-dropdown {
    display: block;
    border-radius: 8px
  }


  @include media-query($on-mobile) {
    position: fixed;
    height: inherit;
    left: 0;
    right: 0;
    justify-content: right;

    .logo {

      img {
        display: none;
      }


    }

    .menu-icon {
      display: block;
      position: absolute;
      left: 0;
      top: 10px;
      padding: 10px;
      cursor: pointer;
      z-index: 2;
      color: $light;
      font-size: 30px;

      &:active {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
        color: $light;
      }
    }

    a#mode::before {
      font-size: 25px;
    }

    .dropdown {
      z-index: 2
    }

    .dropdown::before {
      font-size: 25px;
    }


    input[id="menu-trigger"]:not(:checked)~.trigger {
      clear: both;
      display: none;
    }

    input[id="menu-trigger"]:checked~.trigger {
      position: fixed;
      animation: 0.2s ease-in forwards fadein;
      -webkit-animation: 0.2s ease-in forwards fadein;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: $white;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }

    .menu-link {
      color: $black;
      display: block;
      box-sizing: border-box;
      font-size: 1.1em;
      &:first-child {
        margin-left: 0;
      }
   }

    .menu-link.active {
      color: $black;
      opacity: 1;
      font-weight: 600;
    }


    .full-screen-overlay {
      display: none;
    }

    .dropdown:hover .lang-dropdown {
      display: none
    }

    .options-container a {
      color: $black;
      margin: 50px;
      display: block;
      box-sizing: border-box;
      font-size: 1.1em;
      opacity: 0.8;

      &:hover{
       font-weight: $bold-weight;
       opacity: 1;
      }

      
    }

    input[id="dropdown-trigger"]:checked~.full-screen-overlay {
      display: flex;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
      /* Semi-transparent white background */
      justify-content: center;
      align-items: center;
      z-index: 1;
    }


  }
}