////////// ---- ABOUT ----- /////////

.team {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.6s;
  transform-style: preserve-3d;
  align-items: center;
}

.team:hover {
  transform: rotateY(180deg);
}

.team .team-img {
  position: relative;
  font-size: 0;
  text-align: center;
  margin-bottom: 30px;
}

.team .team-img img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.team .team-content {
  text-align: center;
  align-items: center;
}

.team .team-content h2 {
  font-size: 100%;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.team .team-content h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

.team .team-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: justify;
  flex-direction: column;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: $white;
  border-radius: 5px;
  transform: rotateY(180deg);
}

.team .team-overlay p {
  font-size: $medium-font-size;
  text-align: justify;
}

.tab-btn {
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  border: 2px solid $text-base-color;
  font-family: $sans-family;
  color: $text-base-color;
  font-weight: $bold-weight;
  opacity: 0.7;
  &:hover{
    opacity: 0.9;
  }
}

.tab-btn.active {
  color: $white;
  border: 0;
  background: $text-base-color;
  transition: all 0.3s ease;
  opacity: 0.9;
}

.column.card {
  display: none;
}

.column.card.active {
  display: block;
}

.tabs-navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

////////// ---- WHAT WE DO ----- /////////

.category {
  padding: 20px;
  border-radius: 5px;
  align-items: center;
  opacity: 0.7;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    opacity: 1;

  }
}

.category .category-content,
.category .thumb-icon {
  text-align: center;
  align-items: center;
  transition: all 1s ease-in 
}

.category a {
  color: $text-base-color
}

.thumb-icon {
  font-size: 27px;
  padding-bottom: 10px;
}

////////// ---- DONATE ----- /////////

.donate-button {
  padding: 20px;
  margin-bottom: 30px;
  border: 0;
  background: transparent;
  border-radius: 5px;
  align-items: center;
  opacity: 0.7;
  text-transform: capitalize;
  font-family: $sans-family;
  font-size: $large-font-size;

  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    opacity: 1;

  }

  a {
    color: $dark-text-base-color;
  }
}

.container.donate {
  text-align: center;
  align-items: center;
  color: $light
}

.category-content h3 {
  font-size: $medium-font-size;
  font-weight: $normal-weight;
}

.category.support {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-height: 250px;
  cursor: pointer;
  background: transparent;
  border: 0;
  font-family: $sans-family;
}

.category-content.description {
  display: none;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.category-content.description.active {
  display: block;
  opacity: 1;
  visibility: visible; 
  transition: opacity 0.3s ease, visibility 0.3s ease;}

.support-notification {
  position: absolute;
  color: $red;
  font-size: $medium-font-size;
}