.navbar-wrapper {
  width: 100%;
  height: auto;
  position: fixed;
  z-index: 1000;
}

// Navbar
.navbar {

  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(#{$wide-size} - (#{$spacing-full} * 2));
  border-bottom: 1px solid $black;
  padding: $spacing-full - 15px $spacing-full;
  @extend %clearfix;
}

.navbar-wrapper.scrolled {
  background-color: $white;

  .navbar {
    border-color: $black;
  }

  transition: all 0.2s ease;

  .menu-link {
    color: $black;
  }

  a#mode {
    color: $black;

    &:hover {
      color: $black;
    }
  }

  .dropdown::before {
    color: $black
  }

}


// Navigation
.menu {
  position: relative;
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  color: $black;

  a#mode {
    float: left;
    left: 8px;
    top: 6px;
    position: relative;
    clear: both;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.7;
    z-index: 1;

    &:hover {
      color: inherit;
      cursor: pointer;
      opacity: 1;
    }

    &:active {
      -webkit-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
    }

    .mode-moon {
      display: block;

    }

    .mode-sunny {
      display: none;
    }
  }

  .dropdown-trigger {
    display: none;
  }

  .dropdown {
    float: left;
    left: 8px;
    top: 6px;
    position: relative;
    margin-left: 30px;
    align-items: center;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 0.7;
    z-index: 1;


    &::before {
      content: "\f1ab";
      font-family: 'Font Awesome 6 Free';
      font-weight: 900;
    }

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }


  .dropdown i {
    font-size: $base-font-size;
  }

  .lang-dropdown {
    display: none;
    position: absolute;
    background-color: $white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
    border-radius: 8px
  }

  .lang-dropdown a {
    color: $text-base-color;
    padding: 8px;
    text-decoration: none;
    display: block;
  }

  .lang-dropdown a:hover {
    background-color: $dark-white;
    border-radius: 8px
  }

  .dropdown:hover .lang-dropdown {
    display: block;
    border-radius: 8px
  }


  .trigger {
    float: right;
  }

  .menu-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .menu-link {
    color: $black;
    line-height: $base-line-height + 0.4;
    text-decoration: none;
    padding: 5px 8px;
    opacity: 0.7;
    letter-spacing: 0.3px;

    &::after {
      content: "."
    }

    &:hover {
      opacity: 1;
    }

    &:not(:last-child) {
      margin-right: 5px;
    }



    @include media-query($on-mobile) {
      opacity: 0.8;
    }
  }

  .menu-link.active {
    opacity: 1;
    font-weight: 600;

    &::before {
      content: "> "
    }
  }

  @include media-query($on-mobile) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    text-align: center;
    height: 50px;
    background-color: $white;
    border-bottom: 1px solid $black;

    a#mode {
      left: 10px;
      top: 12px;
    }

    .menu-icon {
      display: block;
      position: absolute;
      right: 0;
      width: 50px;
      height: 23px;
      line-height: 0;
      padding-top: 13px;
      padding-bottom: 15px;
      cursor: pointer;
      text-align: center;
      z-index: 1;

      &:hover {

          opacity: 1;
  
      }

      &:active {
        -webkit-transform: scale(0.9, 0.9);
        transform: scale(0.9, 0.9);
      }
    }

    input[id="menu-trigger"]:not(:checked)~.trigger {
      clear: both;
      visibility: hidden;
    }

    input[id="menu-trigger"]:checked~.trigger {
      position: fixed;
      animation: 0.2s ease-in forwards fadein;
      -webkit-animation: 0.2s ease-in forwards fadein;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: $white;
      height: 100vh;
      width: 100%;
      top: 0;
    }

    .menu-link {
      display: block;
      box-sizing: border-box;
      font-size: 1.1em;

      &:not(:last-child) {
        margin: 0;
        padding: 2px 0;
      }
    }
  }
}

//Parallax

.parallax {
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;

  background-image: url(/assets/img/DSC_8104.jpg);
  background-color: $white-overlay;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white-overlay; /* White with 60% opacity */
  z-index: 0; /* Adjust as needed */
}

.parallax-content {
  z-index: 900;
}

.copyright {
  position: absolute;
  bottom: 10px;;
  right: 10px;
  font-family: $mono-family;
  font-size: $small-font-size;
}

// Home-Banner


.effect {
  margin: 40px;
  width: fit-content;
}

span {
  display: block;
  font-size: 3.5vw;
  font-family: $sans-family;
  font-weight: $light-weight;

}

span:last-child {
  font-family: $sans-family;
  font-weight: $black-weight;
}

.text-effect {
  position: relative;
  padding: 10px;
  padding-right: 3vw;
  overflow: hidden;
  left: 23vw;
  top: -25vw;
  margin-bottom: -12vw
  
}

.text-effect p {
  margin: 0;
  text-transform: uppercase;
  text-align: right;
  color: $light
}

.text-effect .overlay {
  position: absolute;
  inset: 0;
  background-color: $purple;
  border-left: 0.5vw solid $light;
  transform: translateX(0%);
  animation: translateOverlay 1.4s forwards cubic-bezier(0.85, 0, 0.15, 1);
}

@keyframes translateOverlay {
  to {
    transform: translateX(99%);
  }
}

.image-container {
  display: flex;
  align-items: stretch; /* Aligns items to have equal heights */
}

.rotating-logo,
.nonrotating-logo {
  flex: 1; /* Flex property to distribute space equally */
  height: auto; /* Allows images to scale proportionally */
}



@keyframes rotateImage {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


// Content
.posts-item-note {
  font-size: $base-font-size;
  font-weight: 700;
  margin-bottom: 5px;
  color: $black;
}

// List of posts
.post-item {
  display: flex;
  padding-top: 5px;
  padding-bottom: 6px;
  @extend %clearfix;

  &:not(:first-child) {
    border-top: 1px solid $light;
  }

  .post-item-date {
    min-width: 96px;
    color: $black;
    font-weight: 700;
    padding-right: 10px;

    @include media-query($on-mobile) {
      font-size: 16px;
    }
  }

  .post-item-title {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: $base-font-size;
    font-weight: normal;
    letter-spacing: 0.1px;

    a {
      color: $text-base-color;

      &:hover,
      &focus {
        color: $black;
      }
    }
  }
}

// Footer
.footer {
  margin-top: 8em;
  margin-bottom: 2em;
  text-align: center;

  @include media-query($on-mobile) {
    margin-top: 3em;
  }

  span.footer_item {
    color: $black;
    opacity: 0.8;
    font-weight: $bold-weight;
    font-size: $small-font-size;
  }

  a.footer_item {
    color: $black;
    opacity: 0.8;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 10px;

      &:hover {
        opacity: 1;
      }
    }
  }

  .footer_copyright {
    font-size: $small-font-size;
    margin-top: 3px;
    display: block;
    color: $gray;
    opacity: 0.8;
    font-family: $mono-family;
  }
}

.not-found {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 75vh;

  .title {
    font-size: 5em;
    font-weight: $bold-weight;
    line-height: 1.1;
    color: $black;
    text-shadow: 1px 0px 0px $text-link-blue;
  }

  .phrase {
    color: $text-base-color;
  }

  .solution {
    color: $text-link-blue;
    letter-spacing: 0.5px;
  }

  .solution:hover {
    color: $text-link-blue-active;
  }
}


.search-article {
  position: relative;
  margin-bottom: 50px;

  label[for="search-input"] {
    position: relative;
    top: 10px;
    left: 11px;
  }

  input[type="search"] {
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 40px;
    outline: none;
    position: absolute;
    border-radius: 5px;
    padding: 10px 10px 10px 35px;
    color: $text-base-color;
    -webkit-appearance: none;
    font-size: $base-font-size;
    background-color: rgba(128, 128, 128, 0.1);
    border: 1px solid rgba(128, 128, 128, 0.1);

    &::-webkit-input-placeholder {
      color: #808080;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}

#search-results {
  text-align: center;

  li {
    text-align: left;
  }
}

.archive-tags {
  height: auto;

  .tag-item {
    padding: 1px 3px;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.1);
    background-color: rgba(128, 128, 128, 0.1);
  }
}

.logo {
  margin-bottom: auto;
}

img {
  max-width: 50%;

}


.social-icons i {
  margin: 10px;
  /* Adjust the spacing between icons */
  color: $gray;
  font-size: 25px;
}

.social-icons a {
  text-decoration-line: none;
}