//////////////// PARALLAX
.parallax {
  position: relative;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;

  background-image: url('/assets/img/DSC07901.jpg');

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.blurry {
    animation: 0.2s ease-in forwards blur;
    -webkit-animation: 0.2s ease-in forwards blur;
  }

}

.parallax::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white-overlay;
  z-index: 0; /* Adjust as needed */
}

.parallax-content {
  z-index: 900;
}

.copyright {
  position: absolute;
  bottom: 10px;;
  right: 10px;
  font-family: $mono-family;
  font-size: $small-font-size;
}

.parallax-content span {
  display: block;
  font-size: 5vw;
  text-transform: uppercase;

  @include media-query($on-mobile) {
    font-size: 10vw;
  }
}

.parallax-content span.slogan-item {
  font-family: $sans-family;
  font-weight: $light-weight;
}

.parallax-content span.slogan-item.bold {
  font-weight: $black-weight
}

//////////////// CONTENT
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
  justify-content: center;
  }

.column {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

// About us

.column.card {
  display: none;
}

.column.card.active {
  display: block;
}

.team {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.6s;
  transform-style: preserve-3d;
  align-items: center;
  max-width: 100px;
}

.team:hover {
  transform: rotateY(180deg);
}

.team .team-img {
  position: relative;
  font-size: 0;
  text-align: center;
  margin-bottom: 30px;
}

.team .team-img img {
  width: 100%;
  height: auto;
  border-radius: 100%;
}

.team .team-content {
  text-align: center;
  align-items: center;
}

.team .team-content h2 {
  font-size: 100%;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.team .team-content h3 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

.team .team-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: justify;
  flex-direction: column;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: $white;
  border-radius: 5px;
  transform: rotateY(180deg);
}

.team .team-overlay p {
  font-size: $medium-font-size;
  text-align: justify;
}

.tab-btn {
  padding: 10px;
  margin: 20px;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  border: 2px solid $text-base-color;
  font-family: $sans-family;
  color: $text-base-color;
  font-weight: $bold-weight;
  opacity: 0.7;
  &:hover{
    opacity: 0.9;
  }
}

.tab-btn.active {
  color: $white;
  border: 0;
  background: $text-base-color;
  transition: all 0.3s ease;
  opacity: 0.9;
}


.posts-item-note {
  font-size: $base-font-size;
  font-weight: 700;
  margin-bottom: 5px;
  color: $black;
}

// List of posts
.post-item {
  display: flex;
  padding-top: 5px;
  padding-bottom: 6px;
  @extend %clearfix;

  &:not(:first-child) {
    border-top: 1px solid $light;
  }

  .post-item-date {
    min-width: 96px;
    color: $black;
    font-weight: 700;
    padding-right: 10px;

    @include media-query($on-mobile) {
      font-size: 16px;
    }
  }

  .post-item-title {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: $base-font-size;
    font-weight: normal;
    letter-spacing: 0.1px;

    a {
      color: $text-base-color;

      &:hover,
      &focus {
        color: $black;
      }
    }
  }
}

//////////////// FOOTER
.footer {
  margin-top: 8em;
  margin-bottom: 2em;
  text-align: center;

  @include media-query($on-mobile) {
    margin-top: 3em;
  }

  span.footer_item {
    color: $black;
    opacity: 0.8;
    font-weight: $bold-weight;
    font-size: $small-font-size;
  }

  a.footer_item {
    color: $black;
    opacity: 0.8;
    text-decoration: none;

    &:not(:last-child) {
      margin-right: 10px;

      &:hover {
        opacity: 1;
      }
    }
  }

  .footer_copyright {
    font-size: $small-font-size;
    margin-top: 3px;
    display: block;
    color: $gray;
    opacity: 0.8;
    font-family: $mono-family;
  }
}

.not-found {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 75vh;

  .title {
    font-size: 5em;
    font-weight: $bold-weight;
    line-height: 1.1;
    color: $black;
    text-shadow: 1px 0px 0px $text-link-blue;
  }

  .phrase {
    color: $text-base-color;
  }

  .solution {
    color: $text-link-blue;
    letter-spacing: 0.5px;
  }

  .solution:hover {
    color: $text-link-blue-active;
  }
}


.search-article {
  position: relative;
  margin-bottom: 50px;

  label[for="search-input"] {
    position: relative;
    top: 10px;
    left: 11px;
  }

  input[type="search"] {
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 40px;
    outline: none;
    position: absolute;
    border-radius: 5px;
    padding: 10px 10px 10px 35px;
    color: $text-base-color;
    font-size: $base-font-size;
    background-color: rgba(128, 128, 128, 0.1);
    border: 1px solid rgba(128, 128, 128, 0.1);

    &::-webkit-input-placeholder {
      color: #808080;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }
}

#search-results {
  text-align: center;

  li {
    text-align: left;
  }
}

.archive-tags {
  height: auto;

  .tag-item {
    padding: 1px 3px;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.1);
    background-color: rgba(128, 128, 128, 0.1);
  }
}

.logo {
  margin-bottom: auto;
}

img {
  max-width: 50%;

}


.social-icons i {
  margin: 10px;
  color: $gray;
  font-size: 25px;
}

.social-icons a {
  text-decoration-line: none;
}