---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>{% if page.title %}{{ page.title | escape }} - {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}
  </title>
  <link rel="icon" type="image/x-icon" href="/assets/img/flavicon.ico">
  <script src="/assets/js/main.js"></script>
  {% assign lang = page.lang | default: site.lang %}


</head>
{% include header.html %}

<body data-theme="{{ site.mode }}" class="notransition" lang="{{page.lang | default: site.lang }}">

  <div class="parallax">
    {% include navbar.html %}
    <div class="menu-left">
      {%- assign lang = page.lang -%}
      {%- if lang == "pl" -%}
      <a href="/"><img src="/assets/img/logo_czarnobiałe_kontra_pl.png" alt="Logo"></a>
      {%- else -%}
      <a href="/en/"><img src="/assets/img/logo_bw_contra_eng.png" alt="Logo"></a>
      {%- endif -%}
    </div>
    <div class="header">
      <img id="rotatingImage" src="/assets/img/Sygnet_kolor.png" alt="Rotating Image" class="rotating-image">
      <div class="text-effect effect">
        <div class="overlay"></div>
        <p>
          {%- assign lang = page.lang -%}
          {%- if lang == "pl" -%}
          <span>To&nbsp;z&nbsp;fabryk</span>
          <span>wychodzą</span>
          <span>rewolucje!</span>
          {%- else -%}
          <span>Revolutions</span>
          <span>start</span>
          <span>in&nbsp;factories!</span>
          {%- endif -%}
        </p>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <main aria-label="Content">
      {{ content }}
    </main>
    {% include footer.html %}
  </div>
</body>

</html>